*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^="col"]{
    background-color: pink;
    text-align: center;
    line-height: 200px;
    height: 200px;
    border: 1px solid black;
}

.col-xs-6>.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3px;
}

.col-xs-6>.row>div{
    background-color: #f07f80;
    height: 190px;
    line-height: 190px;
    border: 1px solid white;
    overflow: hidden;
}