*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^="col"]{
    background-color: white;
    text-align: center;
}

.col-xs-6>.row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.col-xs-4>.row>div{
    height: 20px;
    overflow: hidden;
}

.black{
    background-color: black;
}

.dark{
    background-color: rgb(32, 32, 32);

}

.grey{
    background-color: rgb(83, 83, 83);

}

.green{
    background-color: rgb(181, 221, 0);
}

.pink{
    background-color: rgb(251, 177, 189);
}